.margin {
  padding-left:10px;
  padding-right:10px;
}

.logo {  
  color : white; 
  font-weight: 600;
}

.zoom { 
  transition: all .3s ease-in-out;
 }
.zoom:hover {
  transform: scale(1.2);
}